@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 98%;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 19px;
    width: 255px;
    height: 418px;
    box-shadow: 0px 1px 10px 0px rgb(180, 179, 179);
}

.card img {
    width: 102%;
    border-radius: 10px;
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1,
.container p {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

.container h1 {
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    padding-top: 20px;
    width: 100%;
}

.container p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 12px 0;
}

/* .footer {}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
} */

@media screen and (max-width: 375px) {
    .card {
        width: 285px;
        height: 465px;
    }

    .container h1 {
        font-size: 22px;
    }

    .container p {
        font-size: 15px;
        padding: 0px 18px;
    }

}